<h1>Output Values</h1>

State: {{state}} <br>
Temperature: {{Temperature}} <br>
Pressure: {{Pressure}} <br>
Volume: {{volume}} <br>
Internal energy; {{Internalenergy}} <br>
Enthalpy: {{Enthalpy}} <br>
Entropy: {{Entropy}} <br>
Dryness fraction: {{Dryness}} <br>
{{Input1}} <br>
{{Input2}}
{{BLA}}


<br>
<img src="data:image/png;base64,{{ graphic|safe }}">
<br>
<img src="data:image/png;base64,{{ graphic2|safe }}">
<br>
<img src="data:image/png;base64,{{ graphic3|safe }}">
<br>
<img src="data:image/png;base64,{{ graphic4|safe }}">
