<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <title> Steam Calculator</title>

    {% load staticfiles %}
    <!---{% load staticfiles %} href="{% static 'css/Steamcalculator.css' %}"--->
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

  </head>
<body>

<header id="main-header">
    <div class="container">
    <h1> Steam Calculator</h1>
    </div>

</header>

<nav id="navbar">
    <div class="container">
        <ul>
            <li><a href="{% url 'home'%}">Steam Calculator</a></li>
            <li><a href="#">Theory</a></li>
            <li><a href="#">Other Calculator</a></li>
            <li><a href="https://www.marca.com/">Feedback</a></li>
        </ul>
    </div>
</nav>

<p>There was an error in you input</p>
<html/>
